@{
    ViewBag.Title = "Inicio";
}
<br />

    <div class="jumbotron">
        <h1>Kíma</h1>
        <p class="lead">Kíma es  un gestor de medicamentos y citas médicas para personas cuya condición de salud se ha visto afectada</p>
      
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Gestor de medicamentos</h2>
            <p>
                Con Kíma podemos gestionas los medicamentos que la persona necesita tomar, su tipo, dosis, frecuencia y enfermedad con que se asocian.
            </p>
            <p>
                Además se puede guardar un registro del último lugar en el que se comrpó un mediamento y al precio al que se conseguió.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Gestor de citas médicas</h2>
            <p>Kíma ayuda para recordar las futuras citas médicas con mayor facilidad, eso por medio de su registro de citas médicas.</p>
            <p>Además permite llevar un registro de las citas médicas que se deben solicitar en el futuro .</p>
        </div>
        <div class="col-md-4">
            <h2>Recordatorio de compra de medicamentos</h2>
            <p>Kíma cuenta con un módulo para almacenar las futuras compras de medicamentos.</p>
        </div>
    </div>
