@{
    ViewBag.Title = "Inicio";
}
<br />

    <div class="jumbotron">
        <h1>Kíma</h1>
        <p class="lead">
            Kíma es una palabra Cabécar que significa ayudar, y hace referencia al objetivo principal de esta aplicación.
        </p>
        <p class="lead">Kíma es  un gestor de medicamentos y citas médicas para personas con alguna enfermedad o para sus cuidadores.</p>
      
    </div>

    <div class="row">
        <div class="col-md-4 panel-body">
            <h2 class="text-primary">Gestor de medicamentos</h2>
            <p class="lead">
                Kíma permite gestionar los medicamentos que la persona necesita tomar, su tipo, dosis, frecuencia y enfermedad con que se asocian.
            </p>
           
        </div>
        <div class="col-md-4 panel-body">
            <h2 class="text-primary">Gestor de citas médicas</h2>
            <p class="lead">Kíma ayuda en recordar las futuras citas médicas con mayor facilidad, eso por medio de su registro.</p>
            
        </div>
        <div class="col-md-4 panel-body">
            <h2 class="text-primary">Recordatorio de compra de medicamentos</h2>
            <p class="lead">Kíma cuenta con un módulo para agendar las futuras compras de medicamentos.</p>
        </div>
    </div>
